*{
    margin: 0;
    padding:0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    height: 100%;
    background: #4d5758;
}
.menu ul{
    display: inline-flex;
    margin:50px
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color:#b2b1b1;
    cursor:pointer;
}
.logo img{
    width:120px;
    height: 30px;
    margin-top:-7px;
    margin-right: 48px;
}
.active{
    color:#639aa1 !important;
}
.signup-btn{
    top:40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color:rgb(62, 161, 207);
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #547781),
    radial-gradient(circle at top left,#00fdb1,#525d64);
    background-origin: border-box;
    background-clip:content-box,border-box;
}
.signup-btn span{
    display:block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: rgb(73, 102, 116);
}
.app-text{
    width:40% ;
    float: left;
}
.app-text h1{
    font-size:30px;
    width: 240px;
    position: relative;
    margin-left:40px ;
}
.app-text p{
    font-size:15px;
    width: 240px;
    position: relative;
    margin-left:40px 0 40px;
    line-height: 30px;
    color: rgb(37, 202, 231);
}
.app-image{
    width: 40%;
    float: right;
}
.app-image img{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    padding-left:50px;   
}
.play-btn{
    margin-right: 40px;
    
    margin-top: 240px;
    
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #38474d),
    radial-gradient(circle at top left,#00b5fd,#19ccf8);
    background-origin: border-box;
    background-clip:content-box,border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 11px 0;
    font-size: 30px;
    cursor: pointer;

}
small{
    margin:auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
.quick-links{
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #1184d1,#19d7f8 );
}
.quick-links ul{
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li .fa{
    font-size: 25px;
    color: white;
}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: white;
}
.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: rgb(50, 96, 102);
    border-radius: 50%;
    border: 1px solid rgb(47, 73, 85);
    padding: 5px;
    display: block;
}
.ll{
    color:white;
}